# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# IDE settings
.idea/
.vscode/

# Logs
logs/
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Miscellaneous
*.bak
*.swp

# PyCharm #
*.iml
*.ipr
*.iws